page-login {
    .scroll-content {
        background-color: rgba(106, 42, 175, 0.4);
        background: -moz-linear-gradient(45deg, rgba(84, 83, 81, 1) 0%, rgba(252, 205, 77, 0.82) 56%, rgba(235, 224, 7, 0.67) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(84, 83, 81, 1)), color-stop(56%, rgba(252, 205, 77, 0.82)), color-stop(100%, rgba(235, 224, 7, 0.67)));
        background: -webkit-linear-gradient(45deg, rgba(84, 83, 81, 1) 0%, rgba(252, 205, 77, 0.82) 56%, rgba(235, 224, 7, 0.67) 100%);
        background: -o-linear-gradient(45deg, rgba(84, 83, 81, 1) 0%, rgba(252, 205, 77, 0.82) 56%, rgba(235, 224, 7, 0.67) 100%);
        background: -ms-linear-gradient(45deg, rgba(84, 83, 81, 1) 0%, rgba(252, 205, 77, 0.82) 56%, rgba(235, 224, 7, 0.67) 100%);
        background: linear-gradient(45deg, rgba(84, 83, 81, 1) 0%, rgba(252, 205, 77, 0.82) 56%, rgba(235, 224, 7, 0.67) 100%);
        filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#545351', endColorstr='#ebe007', GradientType=1)";
    }
    .logo-wrap {
        margin-top: 10vh;
        .logo {
            z-index: 2;
            max-width: 40%;
            margin: 0px auto;
        }
    }
    .sub-title {
        z-index: 2;
        color: #fff;
        text-transform: capitalize;
        position: relative;
        font-size: 1.7rem;
        margin: 15px auto;
    }
    .sub-title::before,
    .sub-title::after {
        z-index: 2;
        content: " ";
        width: 70px;
        height: 1px;
        background-color: #037d00;
        display: block;
    }
    .sub-title::before {
        float: left;
        position: relative;
        top: 10px;
        margin-left: 15px;
    }
    .sub-title::after {
        float: right;
        position: relative;
        top: 10px;
        margin-right: 15px;
    }
    .fb {
        z-index: 2;
        display: block;
        content: ' ';
        width: 40px;
        height: 40px;
        background-color: #3b5a9a;
        color: #ffffff;
        border: 4px solid #f3f3f3;
        border-radius: 50%;
        margin: 0px auto;
        line-height: 31px;
        font-size: 22px;
    }
    .or {
        z-index: 2;
        color: #fff;
        font-size: 1.4rem;
        text-transform: uppercase;
        margin: 15px auto;
    }
    .round-box {
        .item,
        .item-input {
            padding: 0px;
            .item-inner {
                padding: 0px 8px;
                border: none;
                .input-wrapper {
                    /* border-bottom: 1px solid #8d8d8d; */
                }
            }
        }
        .pass {
            border-top: 1px solid #acacac;
        }
    }
    .bottom-part {
        width: 100vw;
        position: absolute;
        bottom: 0px;
        display: inline;
        background-color: #341f69;
        p {
            width: 50%;
            padding: 0px 10px;
            color: #e0e0e0;
            text-transform: capitalize;
        }
    }
}